<h1> Please use the form to signup below</h1>
<div class="create-job-wrapper">
<form method="post" action="/signup">
    <h5>Name:</h5>
    <p><input type="text" name="name" placeholder="Name" required></p>

    <h5>Email:</h5>
    <p><input type="text" name="email" placeholder="Email" required></p>

    <h5>Phone Number:</h5>
    <p><input type="text" name="phone_number" placeholder="Phone #" required></p>

    <h5>Address:</h5>
    <p><input type="text" name="address" placeholder="Address" required></p>

    <h5>Password:</h5>
    <p><input type="password" name="password" placeholder="Password" required></p>

    <p><input type="submit" value="Submit" placeholder=""></p>
</form>
</div>