<h1> Please use the form to signup below</h1>

<form method="post" action="/signup">
    <label for="name">Name:</label>
    <p><input type="text" name="name" placeholder="Name"></p>

    <label for="email">Email:</label>
    <p><input type="text" name="email" placeholder="Email"></p>

    <label for="phone_number">Phone Number:</label>
    <p><input type="text" name="phone_number" placeholder="Phone #"></p>

    <label for="address">Address:</label>
    <p><input type="text" name="address" placeholder="Address"></p>

    <label for="password_digest">Password:</label>
    <p><input type="text" name="password_digest" placeholder="Password"></p>

    <p><input type="submit" value="Submit" placeholder=""></p>
</form>