<h1> Please use the form to login below</h1>

<form method="post" action="/login">

    <label for="email">Email:</label>
    <p><input type="text" name="email" placeholder="Email"></p>

    <label for="password">Password:</label>
    <p><input type="text" name="password" placeholder="Password"></p>

    <p><input type="submit" value="Submit"></p>
</form>