<div class = "job-wrapper">
<h1> Welcome <%= @user.name %></h1>
<% if @user.jobs != [] %>
<h2> Here are all the jobs we found for you! </h2>
<a href="/jobs/new"><button>New Job</button></a>
</br>
</br>
    <% @user.jobs.each do |job| %>
        <a href="/jobs/<%= job.id %>"> <button class="jobs"><%= job.date %></button></a>
    <% end %>
<% else %>
<h2> No Jobs Found! </h2>
<a href="/jobs/new"><button>New Job</button></a>
<% end %>
</div>