<div class ="welcome-text">
</br>
  <p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu nisi rhoncus, ornare augue eget, tempor enim. Aliquam pellentesque nibh a varius pellentesque. Duis et lorem cursus, accumsan diam vitae, consequat ipsum. Suspendisse pretium eget justo sit amet mattis. Pellentesque euismod eros lorem, ut laoreet purus auctor a. Sed a mauris id ligula fringilla commodo. Morbi sed est in erat vestibulum consequat. Aliquam a neque nec ante varius tincidunt. Nunc sit amet euismod nibh, in placerat ante. Nunc metus nulla, ullamcorper vel nisi congue, lacinia laoreet mauris. Nam sagittis iaculis posuere. Praesent vehicula et lacus a tincidunt. Sed eu neque diam.
  </p>
  <img src="images/Wall-Painting.jpg" class="welcome-photo">
  <p>
  Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur tempus, lectus scelerisque rhoncus pharetra, sapien dolor tempor lacus, vitae eleifend eros lacus et tellus. Integer consequat molestie eros nec venenatis. Etiam tempus, odio sed porta rutrum, orci nunc vestibulum arcu, vitae placerat justo mi a ligula. In egestas ligula ut justo consequat sollicitudin sed vel neque. Proin gravida felis sem. Aliquam rhoncus felis nunc, malesuada bibendum risus consectetur nec. Suspendisse commodo elementum accumsan. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla at magna vel ante gravida tincidunt eget accumsan ligula. Nunc interdum lorem sed lacus vehicula egestas. Nullam maximus a nibh sed finibus. Cras lectus nibh, dignissim eget suscipit in, sagittis et magna. Cras vitae dui id lorem vehicula maximus ut ac ligula. Donec hendrerit suscipit diam eu auctor.
  </p>
  <img src="images/rolling-wall.jpg" class="welcome-photo">
  <p>
  Sed tortor ipsum, cursus quis augue a, laoreet scelerisque enim. Pellentesque ut magna vitae justo vestibulum eleifend. Etiam tempus erat eget ullamcorper bibendum. Fusce vitae tristique magna. Ut vehicula tempor lacus in feugiat. Suspendisse eget placerat lectus, sed suscipit est. Ut odio leo, sagittis congue neque a, varius accumsan felis. Pellentesque eget mi sit amet neque semper condimentum sed sed neque. Aliquam dapibus, dolor at mollis tempus, metus quam molestie est, vitae iaculis turpis tortor vel erat.
  </p>
  <img src="images/five-star-review.jpg" class="welcome-photo">
  <p>
  Sed vel quam vestibulum, fermentum est sed, dapibus ex. Nullam dictum est et elit lacinia consectetur. Proin auctor arcu ex. Cras et erat massa. Aliquam placerat arcu ut enim fermentum bibendum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ac neque eget purus sollicitudin aliquam id vitae justo. Quisque id luctus eros. Pellentesque viverra vehicula nibh sed semper. Donec quis lacus a erat lacinia sagittis. Donec varius tellus ipsum, eu faucibus leo posuere vitae. Aenean maximus ac arcu eu molestie.
  </p>
  <p>
  Nulla sodales convallis enim, in tincidunt ligula semper eu. Nam molestie ex nec neque laoreet mattis. Fusce non semper dolor, volutpat egestas diam. Donec semper velit ipsum. Phasellus eu pellentesque urna. Donec rhoncus ipsum est, vitae consectetur lacus vehicula placerat. Cras ornare metus et mauris commodo fringilla. Nam in nisl condimentum, tincidunt enim tincidunt, maximus felis. Ut egestas vulputate purus, et dictum dolor luctus facilisis. Pellentesque ultricies ante pharetra, dictum enim vitae, rhoncus urna. Donec sed mi non mauris placerat congue. Donec fermentum laoreet pellentesque. Vestibulum rutrum, leo ac aliquet semper, metus tellus finibus augue, vel cursus sem lorem eget justo. Aliquam dictum orci sit amet diam commodo venenatis. Morbi quis lacus in nibh accumsan interdum.
  </p>
</div>